<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/cache
           http://www.springframework.org/schema/cache/spring-cache.xsd">
	

	<bean id="factory" class="main.java.es.uniovi.innova.factories.Factory">
		<property name="serviceGoogleAnalytics" ref="gAnalyticsService"></property>
		<property name="servicePortales" ref="aPILiferayPortalesDAO"></property>
	</bean>
 <bean id="gAnalyticsService"
		class="main.java.es.uniovi.innova.services.ga.implementation.google.analytics.GAnalyticsService"></bean>
<bean id="aPILiferayPortalesDAO"
		class="main.java.es.uniovi.innova.services.ga.implementation.portales.APILiferayPortalesDAO"></bean> 



	<!--  <cache:annotation-driven /> 
	<bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager"
		p:cache-manager-ref="ehcache" />
	<bean id="ehcache"
		class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean"
		p:config-location="classpath:ehcache.xml" />
	-->


</beans> 